// Place all the styles related to the Campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.head {
  position: relative;

  h1 {
    font-size: 18pt;
  }
  .add {
    position: absolute;
    right: 0;
    top: 0;
  } 
}

table {
  width: 100%;
}
