@import url(http://fonts.googleapis.com/css?family=Oxygen);

body {
  font-family: Verdana, Geneva, sans-serif;
  margin: 0; padding: 0;
}

.header {
  background: gray;

  .logo {
    font-family: 'Oxygen', sans-serif;

    padding: 12px 0 10px;
    margin: 0 auto;
    width: 760px;

    font-size: 14pt;
    //font-weight: bold;
    margin-bottom: 35px;

    a {
      text-decoration: none;
      color: white !important;

      &:hover {
        background: none;
      }
    }
  }
}


.page {
  margin: 15px auto;
  width: 760px;
}
